<ul>
    <li><b>Administration</b></li>
    <li><a href="dealer_registration">Dealer Registration</a></li>
    <li><a href="get_dealer">Dealer Updates</a></li>
    <li><a href="show_claims">Reprint A Claim (Tire)</a></li>
    <li><a href="show_claims_labor">Reprint A Claim (Labor)</a></li>
    <hr>
    <li><a href="download_csv_tire">Download CSV(Tire)</a></li>
    <li><a href="download_csv_labor">Download CSV(Labor)</a></li>
    <li><b>&nbsp;</b></li>
    <li><a href="admin_index?logout=1">Log Out</a></li>

</ul>

