<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img src="images/iStock_000034792106Small.jpg"
                                                           alt="damaged tire replacement plan"
                                                           style="width:340px; height: 226px;">
        <p>
            {ADMIN_MENU}
    </div>
    <div class="content">
        <p>Please make a selection from the menu at left</p>
    </div>
    <div class="clearBoth"></div>
</div>
