<div class="page_body">
    <div class="side_bar">
        {ADMIN_MENU}
    </div>
    <div class="content">
        <h2 style="margin-bottom: 20px; text-align: center;">{PAGE_TITLE}</h2>
        <p class="content_header" style="color: #990000; font-weight: bold">{MESSAGE}</p>
        <div class="plan_wrapper">
            <div class="plan_header">Claim ID:</div>
            <div class="plan_field">{CLAIM_ID}</div>
            <div class="plan_header">Originating Dealer:</div>
            <div class="plan_field">{DEALER_NAME}</div>
            <div class="plan_header">Dealer Phone:</div>
            <div class="plan_field">{DEALER_PHONE}</div>
            <div class="plan_submit"><p><b>Claim Information</b></p></div>
            <div class="plan_header">Original Invoice Number:</div>
            <div class="plan_field">{INVOICE_NUMBER}</div>
            <div class="plan_header">Original Purchase Date:</div>
            <div class="plan_field">{INVOICE_DATE}</div>
            <div class="plan_header">Original Mileage Reading:</div>
            <div class="plan_field">{ORIG_MILEAGE}</div>
            <div class="plan_header">Current Mileage Reading</div>
            <div class="plan_field">{CURRENT_MILEAGE}</div>
            <div class="plan_header">Person Filing Claim:</div>
            <div class="plan_field">{CLAIM_FILER}</div>
            <div class="plan_submit"><p><b>Vehicle Information</b></p></div>
            <div class="plan_header">Vehicle Year:</div>
            <div class="plan_field">{VEHICLE_YEAR}</div>
            <div class="plan_header">Vehicle Make:</div>
            <div class="plan_field">{VEHICLE_MAKE}</div>
            <div class="plan_header">Vehicle Model:</div>
            <div class="plan_field">{VEHICLE_MODEL}</div>
            <div class="plan_line"><p><b><br>Uploaded documents</b></p></div>
            <div class="plan_header">Original Invoice:</div>
            <div class="plan_field"><a href="{ORIGINAL_INVOICE}">Original Invoice</a></div>
            <div class="plan_header">Current Invoice:</div>
            <div class="plan_field"><a href="{NEW_INVOICE}">Claim Invoice</a></div>
            <div class="plan_line"><p><b><br>Tire Information</b></p></div>
            <div style="display: {TIRE_1}">
                <div class="plan_line"><p><b>Tire 1</b></p></div>
                <div class="plan_header">Tire Make</div>
                <div class="plan_field">{TIRE_MAKE_1}</div>
                <div class="plan_header">Tire Model</div>
                <div class="plan_field">{TIRE_MODEL_1}</div>
                <div class="plan_header">Tire Size:</div>
                <div class="plan_field">{TIRE_SIZE_1}</div>
                <div class="plan_header">Tire DOT #</div>
                <div class="plan_field">{TIRE_DOT_1}</div>
                <div class="plan_header">Original Part Number</div>
                <div class="plan_field">{ORIGINAL_PART_NUMBER_1}</div>
                <div class="plan_header">Replacement Part Number</div>
                <div class="plan_field">{CLAIM_PART_NUMBER_1}</div>
                <div class="plan_header">Original Tire Price</div>
                <div class="plan_field">{ORIGINAL_TIRE_PRICE_1}</div>
                <div class="plan_header">Replacement Tire Price</div>
                <div class="plan_field">{CLAIM_TIRE_PRICE_1}</div>
                <div class="plan_header">Original Tread Depth</div>
                <div class="plan_field">{ORIGINAL_TREAD_DEPTH_1}/32</div>
                <div class="plan_header">Remaining Tread Depth</div>
                <div class="plan_field">{REMAINING_TREAD_DEPTH_1}/32</div>
                <div class="plan_header">Tire Damage Description</div>
                <div class="plan_field">{TIRE_DAMAGE_DESC_1}</div>
            </div>
            <div style="display: {TIRE_2}">
                <div class="plan_line"><p><b>Tire 2</b></p></div>
                <div class="plan_header">Tire Make</div>
                <div class="plan_field">{TIRE_MAKE_2}</div>
                <div class="plan_header">Tire Model</div>
                <div class="plan_field">{TIRE_MODEL_2}</div>
                <div class="plan_header">Tire Size:</div>
                <div class="plan_field">{TIRE_SIZE_2}</div>
                <div class="plan_header">Tire DOT #</div>
                <div class="plan_field">{TIRE_DOT_2}</div>
                <div class="plan_header">Original Part Number</div>
                <div class="plan_field">{ORIGINAL_PART_NUMBER_2}</div>
                <div class="plan_header">Replacement Part Number</div>
                <div class="plan_field">{CLAIM_PART_NUMBER_2}</div>
                <div class="plan_header">Original Tire Price</div>
                <div class="plan_field">{ORIGINAL_TIRE_PRICE_2}</div>
                <div class="plan_header">Replacement Tire Price</div>
                <div class="plan_field">{CLAIM_TIRE_PRICE_2}</div>
                <div class="plan_header">Original Tread Depth</div>
                <div class="plan_field">{ORIGINAL_TREAD_DEPTH_2}/32</div>
                <div class="plan_header">Remaining Tread Depth</div>
                <div class="plan_field">{REMAINING_TREAD_DEPTH_2}/32</div>
                <div class="plan_header">Tire Damage Description</div>
                <div class="plan_field">{TIRE_DAMAGE_DESC_2}</div>
            </div>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>
