<div class="page_body">
    <div class="side_bar">
        {ADMIN_MENU}
    </div>
    <div class="content">
        <p class="content_header">{MESSAGE}&nbsp;</p>
        <form name="dealer_check" id="dealer_check" action="dealer_check" method="post">
            <div class="plan_wrapper">
                <div class="plan_submit"><p><b>Business Information</b></p></div>
                <div class="plan_header" id="con_first">Contact First Name:</div>
                <div class="plan_field">
                    <input type="text" id="contact_first_name" name="contact_first_name" size="30"></div>
                <div class="plan_header" id="con_last">Contact Last Name:</div>
                <div class="plan_field"><input type="text" id="contact_last_name" name="contact_last_name" size="30">
                </div>
                <div class="plan_header" id="con_title">Contact Title:</div>
                <div class="plan_field"><input type="text" id="contact_title" name="contact_title" size="30"></div>
                <div class="plan_header" id="bus_name">Dealer Business Name:</div>
                <div class="plan_field"><input type="text" id="business_name" name="business_name" size="30"></div>
                <div class="plan_header" id="bus_address">Dealer Address</div>
                <div class="plan_field"><input type="text" id="business_address" name="business_address" size="30">
                </div>
                <div class="plan_header" id="bus_city">Dealer City</div>
                <div class="plan_field"><input type="text" id="business_city" name="business_city" size="30"></div>
                <div class="plan_header" id="bus_state">Dealer State</div>
                <div class="plan_field"><input type="text" id="business_state" name="business_state" size="30"></div>
                <div class="plan_header" id="bus_zip">Dealer Zip</div>
                <div class="plan_field"><input type="text" id="business_zip" name="business_zip" size="30"></div>
                <div class="plan_header" id="bus_phone">Dealer Phone:</div>
                <div class="plan_field"><input type="text" id="business_phone" name="business_phone" size="30"></div>
                <div class="plan_header" id="bus_fax">Dealer Fax:</div>
                <div class="plan_field"><input type="text" id="business_fax" name="business_fax" size="30"></div>
                <div class="plan_header" id="bus_email">Dealer Email:</div>
                <div class="plan_field"><input type="text" id="business_email" name="business_email" size="30" value="">
                </div>
                <div class="plan_header" id="d_id">Dealer Id:</div>
                <div class="plan_field"><input type="text" id="dealer_id" name='dealer_id' size='30'></div>
                <div class="plan_header" id="d_username">Dealer Username:</div>
                <div class="plan_field"><input type="text" id="dealer_username" name='dealer_username' size='30'></div>
                <div class="plan_header" id="d_password">Dealer Password:</div>
                <div class="plan_field"><input type="text" id="dealer_password" name='dealer_password' size='30'></div>
                <div class="plan_header" id="d_site">Dealer Site</div>
                <div class="plan_field"><select size="1" id="dealer_site" name="dealer_site">
                    <option value="" selected>Select the Site being used</option>
                    <option value="mrh">myroadhazard.com</option>
                    <option value="car">carroadhazard.com</option>
                    <option value="rho">roadhazardonline.com</option>
                    <option value="cwt">cwtroadhazard.com</option>
                    <option value="tmx">treadmaxxroadhazard.com</option>
                    <option value="apr">autoprideroadhazard.com</option>
                    <option value="ppr">partsplusroadhazard.com</option>
                    <option value="pnr">pnroadhazard.com</option>
                    <option value="arh">autoroadhazard.com</option>
                    <option value="mtp">mytireplan.com</option>
                    <option value="frh">federatedroadhazard.com</option>
                    <option value="ase">aseroadhazard.com</option>
                    <option value="tmt">treadmaxxtireprotection.com</option>
                </select></div>

                <div class="plan_submit"><input type="submit" value="Submit" name="send_message"></div>
                <div id="vehicle_make_id"></div>
            </div>
        </form>
    </div>
    <div class="clearBoth"></div>
</div>
