<div class="page_body">
    <div class="side_bar">
        {ADMIN_MENU}
    </div>
    <div class="content">
        <p class="content_header">Edit Dealer</p>
        <p class="content_header">Step 1: Select Dealer</p>
        <form name="show_dealers" action="show_dealers" method="post">
            <div class="plan_wrapper">
                <div class="plan_header">Search Term:</div>
                <div class="plan_field"><input type="text" name="term" size="20" size="30"></div>
                <div class="plan_header">Type of Match:</div>
                <div class="plan_field"><select size="1" name="operator">
                    <option value="starts" selected>Begins With</option>
                    <option value="contains">Contains</option>
                </select></div>
                <div class="plan_header">Search By:</div>
                <div class="plan_field"><select size="1" name="criteria">
                    <option value="dealer_id">Dealer Id</option>
                    <option value="dealer_phone">Dealer Phone</option>
                    <option value="business_name" selected>Business Name</option>
                    <option value="contact_last_name">Contact Last Name</option>
                </select></div>
                <div class="plan_header">View Inactive</div>
                <div class="plan_field"><input type="checkbox" name="inactive" value="1"> Check this box to view a list
                    of all inactive dealers
                </div>
                <div class="plan_submit"><input type="submit" value="Submit" name="show_dealers"></div>
                <div class="clearBoth"></div>
            </div>
        </form>
    </div>
    <div class="clearBoth"></div>
</div>
