<div class="page_body">
    <div class="side_bar">
        {ADMIN_MENU}
    </div>
    <div class="content">
        <p class="content_header">Edit Students</p>
        <p class="content_header">Step 1: Select Student</p>
        <form name="show_students" action="show_students" method="post">
            <div class="plan_wrapper">
                <div class="plan_header">Search Term:</div>
                <div class="plan_field"><input type="text" name="term" size="20" size="30"></div>
                <div class="plan_header">Type of Match:</div>
                <div class="plan_field"><select size="1" name="operator">
                    <option value="starts" selected>Begins With</option>
                    <option value="contains">Contains</option>
                </select></div>
                <div class="plan_header">Search By:</div>
                <div class="plan_field"><select size="1" name="criteria">
                    <option value="student_id">Student Id</option>
                    <option value="user_email">Student Email</option>
                    <option value="user_last_name" selected>Student Last Name</option>
                    <option value="user_business_name">Business Name</option>
                </select></div>
                <div class="plan_header">View Inactive</div>
                <div class="plan_field"><input type="checkbox" name="inactive" value="1"> Check this box to view a list
                    of all students who are signed up but haven't logged into a class
                </div>
                <div class="plan_submit"><input type="submit" value="Submit" name="show_students"></div>
                <div class="clearBoth"></div>
            </div>
        </form>
    </div>
    <div class="clearBoth"></div>
</div>
