<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img src="images/iStock_000034792106Small.jpg"
                                                           alt="Welcome to NTW Administration"
                                                           style="width:340px; height: 226px;">
        <p>
    </div>
    <div class="content">
        <p class="content_header">Administration Area</p>
        <p class="content_header">{MESSAGE}&nbsp;</p>
        <p class="content_header">Admin Log In</p>
        <form name="admin_index" action="admin_index" method="post">
            <div class="form_wrapper">
                <div class="form_header">Username:</div>
                <div class="form_field"><input type="text" name="username" size="30"></div>
                <div class="form_header">Password:</div>
                <div class="form_field"><input type="password" name="password" size="30"></div>
                <div class="form_submit"><input type="submit" value="Submit" name="send_message"></div>
                <div class="clearBoth"></div>
            </div>
        </form>
    </div>
    <div class="clearBoth"></div>
</div>
