<div class="page_body">
    <div class="side_bar">
        {ADMIN_MENU}
    </div>
    <div class="content">
        <p class="content_header">Student Class Info</p>
        <div class="plan_wrapper">
            <div class="plan_header">Student Id:</div>
            <div class="plan_field">{STUDENT_ID}</div>
            <div class="plan_header">Student Name:</div>
            <div class="plan_field">{USER_FIRST_NAME} {USER_LAST_NAME}</div>
            <div class="plan_header">Business Name:</div>
            <div class="plan_field">{USER_BUSINESS_NAME}</div>
        </div>
        <div class="clearBoth"><br><br></div>

        {COMPLETED_CLASSES}
        {CURRENT_CLASSES}


    </div>
    <div class="clearBoth"></div>
</div>
