<div class="page_body">
    <h3>Showing All Claims</h3>
    <div>
        <h4>Dealer Name: {BUSINESS_NAME}</h4>
        <h4>Dealer Address: {BUSINESS_ADDRESS}</h4>
        <h4>ZIP: {BUSINESS_ZIP}</h4>
        <h4>Dealer Phone: {BUSINESS_PHONE}</h4>
    </div>
    <table class="table">
        <thead>
        <th>Claim Id</th>
        <th>Invoice Number</th>
        <th>Original Repair Date</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        </thead>
        <tbody>
            {TBODY}
        </tbody>
    </table>
</div>