<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img src="images/tires.png" alt="damaged tire replacement plan"
                                                           style="width: 90%;">
        <p>

    </div>
    <div class="content">
        <h2 style="margin-bottom: 20px; text-align: center;">{PAGE_TITLE}</h2>
        <p class="content_header">The following claim has been sent. If there is a problem, please call<br>
            T3 local claims: 1-888-450-2816<br>
            or<br>
            Tread Car Dealer claims: 1-888-450-2816</p>
        <!--<p class="content_header" style="color: #990000; font-weight: bold">{MESSAGE}</p>-->
        <div class="plan_wrapper">
            <div class="plan_submit"><p><b>Claim Information</b></p></div>
            <div class="plan_header">Claim ID:</div>
            <div class="plan_field">TC{CLAIM_ID}</div>
            <div class="plan_header">Original Invoice Number:</div>
            <div class="plan_field">{INVOICE_NUMBER}</div>
            <div class="plan_header">Original Invoice Date:</div>
            <div class="plan_field">{ORIGINAL_REPAIR_DATE}</div>
            <div class="plan_header">Sub Invoice Number:</div>
            <div class="plan_field">{SUB_INVOICE_NUMBER}</div>
            <div class="plan_header">Sub Invoice Date:</div>
            <div class="plan_field">{SUB_REPAIR_DATE}</div>
            <div class="plan_header">Original Repair Mileage Reading:</div>
            <div class="plan_field">{ORIGINAL_REPAIR_MILEAGE}</div>
            <div class="plan_header">Current Mileage Reading:</div>
            <div class="plan_field">{CURRENT_MILEAGE}</div>


            <div class="plan_submit"><p><b>Customer Information</b></p></div>
            <div class="plan_header">Customer First Name:</div>
            <div class="plan_field">{CUSTOMER_FIRST_NAME}</div>
            <div class="plan_header">Customer Last Name:</div>
            <div class="plan_field">{CUSTOMER_LAST_NAME}</div>
            <div class="plan_header">Customer Phone:</div>
            <div class="plan_field">{CUSTOMER_PHONE}</div>
            <div class="plan_header">Customer Email:</div>
            <div class="plan_field">{CUSTOMER_EMAIL}</div>

            <div class="plan_submit"><p><b>Vehicle Information</b></p></div>
            <div class="plan_header">Vehicle Year:</div>
            <div class="plan_field">{VEHICLE_YEAR}</div>
            <div class="plan_header">Vehicle Make:</div>
            <div class="plan_field">{MAKE_NAME}</div>
            <div class="plan_header">Vehicle Model:</div>
            <div class="plan_field">{VEHICLE_MODEL}</div>

            <div class="plan_line"><p><b><br>Uploaded documents</b></p></div>
            <div class="plan_header">Original Invoice:</div>
            <div class="plan_field"><a href="{ORIG_INV_FILENAME}">Original Invoice</a></div>
            <div class="plan_header">Current Invoice:</div>
            <div class="plan_field"><a href="{CLAIM_INV_FILENAME}">Claim Invoice</a></div>


            <div class="plan_submit"><p><b>Repair Information</b></p></div>
            <div class="plan_header">Repair Code:</div>
            <div class="plan_field">{REPAIR_CODE}, {REPAIR_TYPE}, {COMPONENT}</div>
            <div class="plan_header">Original Labor Price:</div>
            <div class="plan_field">{ORIGINAL_LABOR_PRICE}</div>
            <div class="plan_header">Labor Per Hour:</div>
            <div class="plan_field">{LABOR_PRICE}</div>
            <div class="plan_header">Original Labor Hours:</div>
            <div class="plan_field">{LABOR_HOUR}</div>
            <div class="plan_header">Sub Labor Price:</div>
            <div class="plan_field">{SUB_LABOR_PRICE}</div>
            <div class="plan_header">Repair Description:</div>
            <div class="plan_field">{REPAIR_DESCRIPTION}</div>
        </div>
    </div>
    <div class="clearBoth"></div>
</div>


