<div class="container" role="main">
    <div class="row">
        <div class="col-md-8">
            <h2>Customer Support</h2>
            <p>If you still have questions or prefer to call the administrator to file a claim:</p>
            <p><strong>Dealer claims:</strong> <a href="tel:18003518438">1-800-351-8438</a></p>
        </div>
        <div class="col-md-4" style="padding-top: 10px;">
            <p><img src="images/iStock-1001607536-labor-sm.jpg" alt="auto parts labor warranty plan"/></p>
        </div>
    </div>
</div>