<div class="hero">
    <img src="images/keyboard.jpg" alt="File a Claim"/>
</div>
<div class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <h2>Frequently Asked Questions</h2>
            <ol class="ques">
                <li><a href="#01">When will credit be issued for a claim payment?</a></li>
                <li><a href="#02">What are the hours of operation for the claim center?</a></li>
                <li><a href="#03">Do I dispose of the tire after the claim is approved?</a></li>
                <li><a href="#04">What do I need from the customer to ensure that I get paid for road hazard claims?</a>
                </li>
                <li><a href="#05">Does this benefit cover tire repairs?</a></li>
                <li><a href="#06">Does this program have a roadside assistance benefit?</a></li>
                <li><a href="#07">What if my customer is away from my shop and needs service?</a></li>
                <li><a href="#08">How long is the road hazard warranty valid?</a></li>
                <li><a href="#09">If I need to email or fax paperwork, what is the fax number and email address that I
                    would use?</a></li>
                <li><a href="#10">Are commercial accounts or trailers covered under the warranty?</a></li>
            </ol>
            <ol class="answ">
                <li><a name="01"></a><strong>Q: When will credit be issued for a claim payment?</strong><br/>
                    <strong>A:</strong> The Administrator sends approved claims to NTW on a weekly basis. NTW then
                    issues credit to your dealer account.
                </li>
                <li><a name="02"></a><strong>Q: What are the hours of operation for the claim center?</strong><br/>
                    <strong>A:</strong> The claim center is open Monday through Friday 8 am to 8 pm Eastern time and
                    Saturday 9 am to 6 pm Eastern time. They are closed Sundays and major holidays.
                </li>
                <li><a name="03"></a><strong>Q: Do I dispose of the tire after the claim is approved?</strong><br/>
                    <strong>A:</strong> We recommend holding on to the damaged tire until credit is received from NTW.
                </li>
                <li><a name="04"></a><strong>Q: What do I need from the customer to ensure that I get paid for road
                    hazard claims?</strong><br/>
                    <strong>A:</strong> You should obtain a copy of the original invoice for road hazard coverage. You
                    will attach a copy of the original invoice for the purchase of the tires and your subsequent
                    replacement invoice when you submit a claim.
                </li>
                <li><a name="05"></a><strong>Q: Does this benefit cover tire repairs?</strong><br/>
                    <strong>A:</strong> No, this program is for the replacement of the tire only.
                </li>
                <li><a name="06"></a><strong>Q: Does this program have a roadside assistance benefit?</strong><br/>
                    <strong>A:</strong> Yes, there is a benefit for 1 year from the tire purchase date for towing or
                    flat tire changing assistance. The consumer will be reimbursed for up to $75.00 per service. Your
                    customer must call the Administrator to set up the roadside service.
                </li>
                <li><a name="07"></a><strong>Q: What if my customer is away from my shop and needs
                    service?</strong><br/>
                    <strong>A:</strong> If your customer is 25 miles away or further and has a damaged tire, we ask that
                    they contact the warranty center at <a href="tel:18003518438">1-800-351-8438</a> to obtain service. We will set up a claim for
                    your customer and look for a participating Federated Local Labor location to send them to.
                    <br/><br/>
                    If they are within the 25 miles of your location, they must return back to you for service.
                </li>
                <li><a name="08"></a><strong>Q: How long is the road hazard warranty valid?</strong><br/>
                    <strong>A:</strong> This warranty is valid for three years from the date of purchase or until the
                    tire tread reaches 2/32nds of an inch, whichever comes first.
                </li>
                <li><a name="09"></a><strong>Q: If I need to email or fax paperwork, what is the fax number and email
                    address that I would use?</strong><br/>
                    <strong>A:</strong> Fax: 1-855-765-5696 Email: <a href="federated@abswarranty.net">federated@abswarranty.net</a>
                </li>
                <li><a name="10"></a><strong>Q: Are commercial accounts or trailers covered under the warranty?</strong><br/>
                    <strong>A:</strong> No, commercial accounts and trailers are excluded from the program.
                </li>
            </ol>
        </div>
    </div>
    <div class="row top-border">
        <div class="col-md-4">
            <img src="images/icon-claim.png" class="icon" alt="File a Claim"/>
            <h3>File a Claim</h3>
            <p>Click below to file your claim.</p>
            <a href="/new_claim">
                <button type="button" class="btn btn-sm">File Claim</button>
            </a>
        </div>
        <div class="col-md-4 col-border">
            <img src="images/icon-faq.png" class="icon" alt="File a Claim"/>
            <h3>Have Questions?</h3>
            <p>We have answers to some of your most frequently asked questions.</p>
            <a href="/faqs">
                <button type="button" class="btn btn-sm">Read FAQs</button>
            </a>
        </div>
        <div class="col-md-4">
            <img src="images/icon-support.png" class="icon" alt="File a Claim"/>
            <h3>Customer Support</h3>
            <p>Want to learn more? Contact our customer support team.</p>
            <a href="/contact_us">
                <button type="button" class="btn btn-sm">Contact Us</button>
            </a>
        </div>
    </div>
</div>