<form class="navbar-form navbar-right" name="dealer_login" id="dealer_login" method="post" action="login">
    <legend>Shop Login</legend>
    <div style="width: 274px; height: 29px; padding: 0px; margin: 0px; float: left; text-align: left;"><a class="nav"
                                                                                                          href="/dealer_index">Dealer
        Home Page</a></div>
    <input type="submit" value="Log Out" name="submit"><input type="hidden" name="logout" value="1"></form>

