<div class="container" role="main">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Federated Labor Claims</h1>
            <h2>This site is designed for you, as a dealer, to file claims online.</h2>
            <p><strong>Please click on File A Claim below or in the menu to input your claim data.</strong></p>
            <p align="left">If you have any questions, or would like to call the administrator to file a claim, you may
                still call 1-888-450-2816.</p>
        </div>
        <div class="col-md-4" style="padding-top: 10px;">
            <p><img src="images/iStock-467714184-labor-sm.jpg" alt="auto repair labor plan"/></p>
        </div>
    </div>
    <div class="row top-border">
        <div class="col-md-4">
            <img src="images/icon-claim.png" class="icon" alt="File a Claim"/>
            <h3>File a Claim</h3>
            <p>Click below to file your claim.</p>
            <a href="/new_labor">
                <button type="button" class="btn btn-sm">File Claim</button>
            </a>
        </div>
        <div class="col-md-4 col-border">
            <img src="images/icon-faq.png" class="icon" alt="File a Claim"/>
            <h3>Have Questions?</h3>
            <p>We have answers to some of your most frequently asked questions.</p>
            <a href="/faqs">
                <button type="button" class="btn btn-sm">Read FAQs</button>
            </a>
        </div>
        <div class="col-md-4">
            <img src="images/icon-support.png" class="icon" alt="File a Claim"/>
            <h3>Customer Support</h3>
            <p>Want to learn more? Contact our customer support team.</p>
            <a href="/contact_us">
                <button type="button" class="btn btn-sm">Contact Us</button>
            </a>
        </div>
    </div>
</div>
