<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img border="0" src="images/mrh_side_image.jpg"
                                                           alt="Welcome to myroadhazard.com">
    </div>
    <div class="content">
        <p class="content_header">About Us</p>
        <p class="main" align="left">&nbsp;</p>
        <p>Automotive Business Solutions (ABS), Inc., a Colorado corporation, is a full service provider of products and
            services that will help your automotive business. </p>
        <p>Our expert staff stands ready to assist you and your customers. To find out more about ABS, please visit our
            website at <a href="http://www.abs-inc.biz">www.abs-inc.biz</a></p>
    </div>
    <div class="clearBoth"></div>
</div>
