<div class="container" role="main">
    <div class="row">
        <div class="col-md-8">
            <h2>Customer Support</h2>
            <p>If you still have questions or prefer to call the administrator to file a claim:</p>
            <p><strong>T3 local claims:</strong> 1-866-830-4191<br/>
                <strong>Tread Car Dealer claims:</strong> 1-855-429-2790</p>
        </div>
        <div class="col-md-4" style="padding-top: 10px;">
            <p><img src="images/iStock_000034518624Small.jpg" alt="damaged tire replacement plan"/></p>
        </div>
    </div>
</div>