<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{TITLE}</title>

</head>

<body style="background: #ffffff none" leftmargin="0" topmargin="0">

{META}
{CSS}
{SCRIPT}

<table cellspacing="1" cellpadding="0" width="638" align="center">
    <tr>
        <th class="decoration" colspan="4">* * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * *
        </th>
    </tr>
    <tr>
        <th class="coverage_header" colspan="4">{DEMO}NATIONWIDE LIMITED ROAD HAZARD WARRANTY</th>
    </tr>
    <tr>
        <th class="decoration" colspan="4">* * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * *
        </th>
    </tr>
    <tr>
        <td class="coverage_copy" width="141"><b>Invoice:</b> {INVOICE_NUMBER}</td>
        <td class="coverage_copy" width="261"><b>Covered Tires</b></td>
        <td class="coverage_copy" width="65"><b>Plan ID:<b></td>
        <td class="coverage_copy" width="166">{PLAN_NUMBER}</td>
    </tr>
    <tr>
        <td class="coverage_copy" width="141" rowspan="5"><b>Issuing Dealer:</b><br>
            {BUSINESS_NAME}<br>
            {BUSINESS_ADDRESS}<br>
            {BUSINESS_CITY}, {BUSINESS_STATE} {BUSINESS_ZIP}<br>
            {BUSINESS_PHONE}<br>

        </td>
        <td class="coverage_copy" width="261" rowspan="5">{TIRE_INFO}</td>
        <td class="coverage_copy" width="65"><b>Date:</b></td>
        <td class="coverage_copy" width="166">{PLAN_DATE}</td>
    </tr>
    <tr>
        <td class="coverage_copy" width="65"><b>Name: </b></td>
        <td class="coverage_copy" width="166">{CUSTOMER_FIRST_NAME} {CUSTOMER_LAST_NAME}</td>
    </tr>
    <tr>
        <td class="coverage_copy" width="65"><b>Phone: </b></td>
        <td class="coverage_copy" width="166">{CUSTOMER_PHONE}</td>
    </tr>
    <tr>
        <td class="coverage_copy" width="65"><b>Vehicle:</b></td>
        <td class="coverage_copy" width="166">{VEHICLE_YEAR} {VEHICLE_MAKE} {VEHICLE_MODEL}</td>
    </tr>
    <tr>
        <td class="coverage_copy" width="65"><b>Mileage: </b></td>
        <td class="coverage_copy" width="166">{VEHICLE_MILEAGE}</td>
    </tr>
    <tr>
        <th colspan="4" class="decoration">* * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * *
        </th>
    </tr>
    <tr>
        <td colspan="4" class="coverage_copy">
            <div class="coverage_copy">This Road Hazard Plan ("Plan") is offered by the selling dealer from which you
                purchased the tires, provided and administered by Automotive Business Solutions. This Plan covers only
                the new tires you purchased (not available on used tires), the original purchaser and the original
                vehicle identified on the original purchase receipt. This Plan only applies to passenger and light truck
                tires, which, during its tread life or within the covered period of time, becomes unserviceable because
                of a road hazard. The Plan and tire purchase must appear on your receipt. A road hazard occurs when a
                tire fails due to a puncture, bruise or break incurred during the course of normal driving on a
                maintained road. Nails, glass, and potholes would be the most common examples of road hazard damage. The
                obligations of the Provider are guaranteed under a reimbursement insurance policy issued by Lyndon
                Southern Insurance Company, 10151 Deerwood Park Blvd., Bldg. 100, Suite 500, Jacksonville, FL 32256.
                They can be contacted directly by calling (800) 888-2738.
            </div>
            <div class="coverage_sub_header">WHAT YOU MUST DO TO OBTAIN SERVICE</div>
            <b>
                If possible, you should return to the facility where you originally purchased this Plan, for tire repair
                or replacement.
                If you are away from the original selling dealer, you must contact the program administrator by calling
                866-830-4189 for assistance in locating the nearest participating facility.</b><u>Prior authorization
            must be obtained to replace a tire damaged by a road hazard.</u><br>
            YOU MUST PRESENT THE ORIGINAL INVOICE SHOWING THE PURCHASE OF THE TIRE(S) AND THE PLAN.
            The damaged tire must be made available for inspection by the facility and/or the Program Administrator.All
            claims and any required documentation must be submitted to the facility or the Program Administrator within
            60 days of the date of failure and/or service.
            <div class="coverage_copy">
                <div class="coverage_sub_header">WHAT IS COVERED BY THE PLAN</div>
                The Plan is valid for a period of 3 years or until any portion of the tire is worn to 2/32 of an inch or
                less, whichever occurs first.<br>
                <b>Tire Replacement:</b> If a tire becomes unserviceable because of a road hazard during the useable
                tread life of the tire, it will be replaced with a new tire. If available, an exact make/model
                replacement tire will be installed. If not available, a comparable quality tire will be installed. If
                the tire failure occurs within the first 33% of useable treadwear, and cannot be safely repaired per
                manufacturer's guidelines, the tire will be replaced with coverage up to 100% of the original price paid
                for the tire. After the first 33% of useable treadwear, you will be charged for the consumed useable
                treadwear on the original tire, times the original selling price of the tire. You will be responsible
                for any taxes, mounting, balancing, and any other miscellaneous fees. When the tread is worn down to
                2/32" the tire is considered worn out and is not eligible for adjustment. If you want a Plan on the
                replacement tire, you must purchase a new Plan for the new tire.<br>
                <b>Tire Repair:</b> If your tire is damaged due to a road hazard and can be safely repaired, the tire
                will be repaired per manufacturer's guidelines at any participating facility. The Plan will cover up
                $20.00 to have the tire repaired. The Plan will remain in effect.
            </div>
            <div class="coverage_copy">
                <div class="coverage_sub_header">FLAT TIRE CHANGING ASSISTANCE</div>
                For 36 months from the date of purchase of this Plan, you may receive flat tire changing assistance by
                calling the service provider of your choice. If you need assistance in locating a service provider in
                your area, you may call
                <b> 866-830-4189. </b> You will be reimbursed up to $75 for eligible expenses incurred for flat tire
                changing assistance. Flat tire changing assistance is strictly limited to the installation of your
                useable spare tire. If you require a tow or any other service you are solely responsible for those
                charges. This benefit applies only to motorized passenger vehicles and specifically excludes trailers or
                those vehicles listed under the exclusions and limitations.<br>
                The following documentation must be submitted to the program administrator within 60 days of service to
                receive a reimbursement:
                <ol>
                    <li> A photocopy of the original invoice showing the purchase of the Plan and your complete name,
                        address, and telephone
                        number.
                    </li>
                    <li> A photocopy of the paid invoice for spare tire installation from a valid auto service provider.
                        This paid invoice must detail the name address, and telephone number of the service provider.
                    </li>
                </ol>
                Submit the above documentation to: Road Hazard Plan Roadside Assistance, P.O. Box 33535 Denver, CO
                80233.
            </div>
            <div class="coverage_copy">
                <div class="coverage_sub_header">EXCLUSIONS AND LIMITATIONS</div>
                The following vehicles are not eligible for Plan coverage: Vehicles with a manufacturer's load rating
                capacity of greater than 1 ton. Vehicles used for farm or agricultural purpose. Commercial vehicles.
                Coverage excludes damage from off-road use, collision, fire, vandalism, theft, snow chains,
                manufacturer's defects, abuse and neglect (i.e., improper application, improper inflation, overloading,
                brake lock up, wheel spinning, torque snags, etc.), cosmetic damage, sidewall abrasions or other
                appearance items that do not affect the safety or performance of the tire. Tires with torn beads. Also
                excluded are damages or irregular wear caused by misalignment, mechanical failures or interference with
                vehicle components, tires that have been repaired in a manner other than per manufacturer's guidelines.
                Road hazard that was sold on used tires. This Plan covers only the tires registered to the customer and
                listed by DOT number during the initial registration.
                <b> CONSEQUENTIAL AND INCIDENTAL DAMAGES ARE EXCLUDED.</b> Some states do not allow the exclusion or
                limitation of consequential and incidental damages; therefore, such limitations or exclusions may not
                apply to you. No expressed guarantees given other than that stated herein. This Plan gives you specific
                legal rights; you may have other rights, which vary from state to state. You may return this Plan to the
                selling dealer within 20 days of the date of purchase of the Plan, if no claim has been made under the
                Plan, the Plan is void and you shall receive a refund of the full price paid for the Plan. Provider may
                cancel this Plan for non-payment of Plan purchase price by the selling dealer to Provider, or for
                material misrepresentation or fraud at time of sale. If Provider cancels this Plan, Provider or the
                selling dealer will refund you 100% of the Plan purchase price.<br>Purchase price of this plan
                $_________

            </div>
        </td>
    </tr>
    <tr>
        <th colspan="4" class="decoration">* * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * *
        </th>
    </tr>
    <tr>
        <th colspan="4" class="coverage_header">
            Road Hazard Plan<br>
            PO Box 33535<br>
            Denver, CO 80233<br>
            866-830-4189<br>
        </th>
    </tr>
    <tr>
        <th colspan="4" class="decoration">* * * * * * * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            * *
        </th>
    </tr>
</table>
<div class="nonprintable"><br>
    <table width="213" align="center">
        <tr>
            <td width="139"><input id="printPlan" name="print" type="button" class="coverage_copy" value="Print"></td>
            <td width="58">
                <FORM><INPUT TYPE="button" class="coverage_copy" id="printFinish" value="Finish"></FORM>
            </td>
        </tr>
    </table>
</div>
