<div class="page_body">
    <div class="side_bar">
        <ul>
            <li><a href="new_plan">Register a Plan Sale</a></li>
            <li><a href="new_claim">File a Claim</a></li>
            <li><a href="view_plans">Reprint a Coverage Statement</a></li>
            <li><a href="promo_download">Download Promotional Materials</a></li>
            <li><a href="login?logout=1">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <p class="content_header">Automotive Business Solutions Dealer Area</p>
        {MESSAGE}
        <p>Please make a selection from the menu</p>
    </div>
    <div class="clearBoth"></div>
</div>
