<table border="0" cellspacing="0" cellpadding="4">
    <tr>
        <th colspan="2"><p>
            <img src="http://ntwclaims.net/images/NTW-logo.png" alt="National Tire Wholesale Claims" width="400"
                 height="136"><img src="http://ntwclaims.net/images/T3-logo.png" alt="T3 Certified" width="132"
                                   height="92">
        </p></th>
    </tr>
    <tr>
        <th colspan="2"><p><b><big><big>New Claim</big></big></b></p></th>
    </tr>
    <tr>
        <td>Originating Dealer:</td>
        <td>{DEALER_NAME}</td>
    </tr>
    <tr>
        <td>Dealer Phone:</td>
        <td>{DEALER_PHONE}</td>
    </tr>
    <tr>
        <th colspan="2"><p><b>Claim Information</b></p></th>
    </tr>
    <tr>
        <td>Original Invoice Number:</td>
        <td>{INVOICE_NUMBER}</td>
    </tr>
    <tr>
        <td>Original Purchase Date:</td>
        <td>{INVOICE_DATE}</td>
    </tr>
    <tr>
        <td>Original Mileage Reading:</td>
        <td>{ORIG_MILEAGE}</td>
    </tr>
    <tr>
        <td>Current Mileage Reading</td>
        <td>{CURRENT_MILEAGE}</td>
    </tr>
    <tr>
        <td>Person Filing Claim:</td>
        <td>{CLAIM_FILER}</td>
    </tr>
    <tr>
        <th colspan="2"><p><b>Vehicle Information</b></p></th>
    </tr>
    <tr>
        <td>Vehicle Year:</td>
        <td>{VEHICLE_YEAR}</td>
    </tr>
    <tr>
        <td>Vehicle Make:</td>
        <td>{VEHICLE_MAKE_NAME}</td>
    </tr>
    <tr>
        <td>Vehicle Model:</td>
        <td>{VEHICLE_MODEL}</td>
    </tr>
    <tr>
        <th colspan="2"><p><b><br>Uploaded documents</b></p></th>
    </tr>
    <tr>
        <td>Original Invoice:</td>

        <td><a href="{ORIGINAL_INVOICE}">Original Invoice</a></td>
    </tr>
    <tr>
        <td>Current Invoice:</td>
        <td><a href="{NEW_INVOICE}">Claim Invoice</a></td>
    </tr>
    <tr>
        <th colspan="2"><p><b><br>Tire Information</b></p></th>
    </tr>
    <tr>
        <th colspan="2"><p><b>Tire 1</b></p></th>
    </tr>
    <tr>
        <td>Tire Make</td>
        <td>{TIRE_MAKE_1}</td>
    </tr>
    <tr>
        <td>Tire Model</td>
        <td>{TIRE_MODEL_1}</td>
    </tr>
    <tr>
        <td>Tire Size:</td>
        <td>{TIRE_SIZE_1}</td>
    </tr>
    <tr>
        <td>Tire DOT #</td>
        <td>{TIRE_DOT_1}</td>
    </tr>
    <tr>
        <td>Original Part Number</td>
        <td>{ORIGINAL_PART_NUMBER_1}</td>
    </tr>
    <tr>
        <td>Replacement Part Number</td>
        <td>{CLAIM_PART_NUMBER_1}</td>
    </tr>
    <tr>
        <td>Original Tire Price</td>
        <td>{ORIGINAL_TIRE_PRICE_1}</td>
    </tr>
    <tr>
        <td>Replacement Tire Price</td>
        <td>{CLAIM_TIRE_PRICE_1}</td>
    </tr>
    <tr>
        <td>Original Tread Depth</td>
        <td>{ORIGINAL_TREAD_DEPTH_1}/32</td>
    </tr>
    <tr>
        <td>Remaining Tread Depth</td>
        <td>{REMAINING_TREAD_DEPTH_1}/32</td>
    </tr>
    <tr>
        <td>Tire Damage Description</td>
        <td>{TIRE_DAMAGE_DESC_1}</td>
    </tr>
