<tr>
    <th colspan="2"><p><b>Tire 2</b></p></th>
</tr>
<tr>
    <td>Tire Make</td>
    <td>{TIRE_MAKE_2}</td>
</tr>
<tr>
    <td>Tire Model</td>
    <td>{TIRE_MODEL_2}</td>
</tr>
<tr>
    <td>Tire Size:</td>
    <td>{TIRE_SIZE_2}</td>
</tr>
<tr>
    <td>Tire DOT #</td>
    <td>{TIRE_DOT_2}</td>
</tr>
<tr>
    <td>Original Part Number</td>
    <td>{ORIGINAL_PART_NUMBER_2}</td>
</tr>
<tr>
    <td>Replacement Part Number</td>
    <td>{CLAIM_PART_NUMBER_2}</td>
</tr>
<tr>
    <td>Original Tire Price</td>
    <td>{ORIGINAL_TIRE_PRICE_2}</td>
</tr>
<tr>
    <td>Replacement Tire Price</td>
    <td>{CLAIM_TIRE_PRICE_2}</td>
</tr>
<tr>
    <td>Original Tread Depth</td>
    <td>{ORIGINAL_TREAD_DEPTH_2}/32</td>
</tr>
<tr>
    <td>Remaining Tread Depth</td>
    <td>{REMAINING_TREAD_DEPTH_2}/32</td>
</tr>
<tr>
    <td>Tire Damage Description</td>
    <td>{TIRE_DAMAGE_DESC_2}</td>
</tr>
