<div class="page_body">
    <div class="side_bar">
        <ul>
            <li><a href="new_plan">Register a Plan Sale</a></li>
            <li><a href="new_claim">File a Claim</a></li>
            <li><a href="view_plans">Reprint a Coverage Statement</a></li>
            <li><a href="promo_download">Download Promotional Materials</a></li>
            <li><a href="login?logout=1">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <p class="content_header">Download Promotional Materials</p>
        <p>To download these files directly, right-click the link and choose "Save" or "Save Link As"</p>
        <a href="download/road_hazard_sales.pdf" target="_new">How to Sell Road Hazard</a><br>
        <a href="download/ABS_RHP_Sales_Sheet.pdf" target="_new">Sales Sheet 1</a><br>
        <a href="download/ABS_RHP_Sales_Sheet_2.pdf" target="_new">Sales Sheet 2</a><br>
        <a href="download/tire_information.pdf" target="_new">Finding the tire information and DOT #</a><br>

        </p>
    </div>
    <div class="clearBoth"></div>
</div>
