<div class="page_body">
    <div class="side_bar">
        <ul>
            <li><a href="dealer_registration">Dealer Registration</a></li>
            <li><a href="edit_dealer">Edit Dealer</a></li>
            <li><a href="dealer_status">Update Dealer Status</a></li>
            <li><a href="claim_reprint">Reprint A Claim</a></li>
            <li><a href="download_plans">Get Sales Data</a></li>
            <li><a href="car_edit">Car Makes and Models</a></li>
            <li><a href="tire_edit">Tire Makes and Models</a></li>
            <li><a href="admin_index?logout=1">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <p class="content_header">Administration Area</p>
        <p></p>
        <p class="content_header" style="color: #990000">{MESSAGE}</p>
    </div>
    <div class="clearBoth"></div>
</div>
