<div class="page_body">
    <div class="side_bar">
        <p style="text-align: center; padding: 10px;"><img border="0" src="images/mrh_side_image.jpg"
                                                           alt="Welcome to myroadhazard.com">
    </div>
    <div class="content">
        <p class="content_header">Automotive Business Solutions<br>Nationwide Road Hazard Plan</p>
        <p>&nbsp;</p>
        <p style="text-align: center">Thank you! Your message has been sent and a representative will contact you
            soon.</p>
    </div>
    <div class="clearBoth"></div>
</div>
